@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Montserrat;
}

/*Links style*/

a:link {
    text-decoration: none;
    }

a:visited {
    text-decoration: none;
    }

a:hover {
    text-decoration: none;
}

a {
    color: #1F1F1F;
}




/*top bar*/

.top-bar {
    background-color: #FFD4D0;
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.top-bar__button {
    background-color: #1F1F1F;
    color: white;
}

/*header*/

.header {
    background-color: #FFD4D0;
    display: flex;
    align-content: center;
}

.header__content {
    width: 457px;
}

.header__title {
    font-size: 20pt;
    font-weight: 300;
}

.header__subtitle {
    font-size: 48pt;
    font-weight: bold;
}

.header__subtitle span {
    color: #FC3314;
}

.header__text {
    font-size: 16pt;
    font-weight: 300;
}

.header__image {
    width: 687px;
}

/*About me*/

.about-me {
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    margin: 0;
}

.about-me__title {
    font-size: 36pt;
    font-weight: bold
}

.about-me__text {
    font-size: 16pt;
    font-weight: 300;
}

.stats__tittle {
    font-size: 18pt;
    font-weight: bold;
}

.stats__numbers {
    font-size: 64pt;
    font-weight: bold;
    color: #FFD4D0;
}

/*Services*/
.services {
    text-align: center;
    margin: 0;
}
.services__title {
    font-size: 36pt;
    font-weight: bold
}

.services__text {
    font-size: 16pt;
    font-weight: 300;
}
/*colors 

.text-red {
    color: #FC3314;
}

.text-white {
    color: white;
}

.bg-color-pink {
    background-color:  #FFD4D0;
}

.bg-color-black {
    background-color: #1F1F1F;
}

.bg-color-white {
    background-color: white;
}

/* Text styles 

h1 {
    font-size: 20px;
    font-weight: 400;
}
h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

.text-14 {
    font-size: 14px;
    font-weight: 400;
}

.text-16-regular {
    font-size: 16;
    font-weight: 400;
}

.text-16-bold {
    font-size: 16;
    font-weight: bold;
}

.text-18-bold {
    font-size: 18px;
    font-weight: bold;
}

.text-20-bold {
    font-size: 20px;
    font-weight: bold;
}

.big-numbers {
    font-size: 64px;
    font-weight: bold;
    color: #FFD4D0;
}
