@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Montserrat;
}



/*Links*/

a:link {
    text-decoration: none;
    }

a:visited {
    text-decoration: none;
    }

a:hover {
    text-decoration: none;
}


/*no se*/

.color-red {
    color: #FC3314;
}

.color-white {
    color: white;
}

.color-pink {
    color: #FFD4D0;
}

.bg-color-pink {
    background-color:  #FFD4D0;
}

.bg-color-black {
    background-color: #1F1F1F;
}


.logo-topbar {
    height: 45px;
}


/* Estilos de texto */
h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
    }


.text-14 {
    font-size: 14px;
    font-weight: 400;
}

.text-16-regular {
    font-size: 16;
    font-weight: 400;
}

.text-16-bold {
    font-size: 16;
    font-weight: bold;
}

.text-18-bold {
    font-size: 18px;
    font-weight: bold;
}

.text-20-bold {
    font-size: 20px;
    font-weight: bold;
}

dd {
    font-size: 64px;
}





